body { 
    position: relative; 
    height: 100vh; 
    background-color: #ecd2a9 !important;
}
.btn span {
  vertical-align: middle;
}
.me-2 {
  margin-right: 0.5rem;
} 

.optionArticle { 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 5vh;
  align-items: center;
  justify-items: center;
  padding: 10px;
  overflow: hidden;
  padding: 5vh; 
  border-radius: 5px;
  margin-bottom: 15vh;
  background-color: bisque;
} 
label { 
    padding: 20px 15px !important;
}
h4 { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 2vh 0 !important;
    font-weight: bolder !important;
    color: #c74d3f !important;
    font-size: 2.2em !important;
    background-color: bisque;
    height: 8vh;
    border-radius: 5px;
} 

i {
    color: #c74d3f!important;
    transform: scale(2);
}

#main-nav {  
    position: sticky;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 5vh;
    top: 0; /* or any offset you want */ 
    background-color: #ecd2a9 !important;
    z-index: 100;
} 

.scrollspy-example { 
      background-color: #ecd2a9 !important;
}